*{
	margin: 0;
	padding: 0;
	overflow: auto;
	box-sizing: border-box;
}

body{
	background-color: white;
}

form{
	width: 500px;
	margin: auto;
	background-color: lightgray;
	border-radius: 3px;
	padding: 20px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	
}

form .form_ctrl{
	padding: 16px;
	font-size: 16px;
	margin-bottom: 20px;
	border-radius: 3px;
	display: block;
	width: 100%;
	color: black;
	background: lavender;
}

form .btn{
	padding: 16px;
	font-size: 16px;
	margin-bottom: 20px;
	border-radius: 3px;
	float: right;
}

nav{
	background-color: orange;
	padding: 16px;
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline;
}

nav ul li a{
	color: white;
}

nav ul li a:hover{
	color: purple;
}